google-genai
google-cloud-texttospeech
moviepy
requests
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
schedule
python-dotenv
imageio==2.34.2
imageio-ffmpeg==0.5.1
Pillow
openai-whisper
numpy
edge-tts

